@import "prelude.scss";

$color-primary: #6b35a7;
$color-primary-light: #b289e0;
$color-primary-dark: #1e023d;

.app {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.preview {
    width: 100%;
    height: 480;
    background-color: $color-primary-dark;
}

.editor {
    width: 100%;
    height: auto;
    font-size: 0.75em;
    line-height: 1.25em;
}

.toolbar {
    display: flex;
    flex-direction: row;
    background-color: $color-primary;

    button {
        font-size: large;
        border-radius: 0;
        border: 1px solid $color-primary-light;
        background-color: $color-primary;

        &[data-toggled="data-toggled"] {
            background-color: $color-primary-light;
        }

        &:active {
            background-color: $color-primary-light;
        }
    }

    .fps {
        margin-left: auto;
        margin-right: 0.5em;
    }

    .time {
        width: 5em;
    }
}

.compiler-output {
    border: 1px red solid;
    white-space: pre;
    overflow-x: scroll;
    font-size: 0.75em;
    line-height: 1.25em;
    width: 100%;

    &[data-hidden="data-hidden"] {
        display: none;
    }
}